p.quote {
  text-align: center;
  text-decoration: underline;
  color: blue;
}

#week1 {
  color: yellow;
  background-color: hsla(0, 50%, 50%, 0.5);
}

* {
    background-color: yellow;
}

div {
  text-align: center;
}

a[name="button"] {
  text-align: center;
}

a:visited {
  color: #00aa00;
}

form, footer {
  text-align: center; 
}

div p {
  background-color: hsl(0, 100%, 100%);
}

section > p {
  color: #ffffff;
}

h1 ~ h2 {
  color: rgb(100, 100, 100);
  background-color: rgba(0, 0, 255, 0.5);
}

figure + p {
  color: #EAE;
}

/* Here is an example of a comment in CSS */

