@media only screen and (max-width: 300px) {
  * {
    font-family: Arial;
  }
}

@font-face {
  font-family: RobotoRegular;
  src: url(Roboto-Regular.ttf);
}

.week2 {
 position: static;
 background-color: purple;
 width: 100px;
 height: 200px;
}

.food1 {
 display: none;
}

.food2 {
 display: inline;
}

p.quote {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  color: blue;
  border-style: solid;
  border-color: black;
  border-width: thin;
  border-radius: 50px;
}

#week1 {
  font-size: 2ex;
  color: yellow;
  background-color: hsla(0, 50%, 50%, 0.5);
}

* {
    background-color: yellow;
    font-family: RobotoRegular;
}

div {
  font-size: 120%;
  text-align: center;
}

a[name="button"] {
  text-align: center;
}

a:hover {
  color: #00aa00;
}

a:active {
  color: purple;
}

form, footer {
  text-align: center; 
}

footer {
 position: fixed;
 bottom: 0;
 left: 0;
}

div p {
  background-color: hsl(0, 100%, 100%);
}

section > p {
  color: #ffffff;
}

h1 ~ h2 {
  color: rgb(100, 100, 100);
  background-color: rgba(0, 0, 255, 0.5);
  width: 400px;
  margin: auto;
  border: 1px solid black;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 30px;
}

figure + p {
  color: #EAE;
}

/* Here is an example of a comment in CSS */

summary {
  color: yellow;
  background-color: black;
  width: 3in;
  border: 20px solid blue;
  padding: 1.25cm 1.3cm 1.35cm 1.4cm;
  margin: 25px 30px 35px 40px; 
}

main {
  min-width: 25%;
  max-width: 50%;
  background-color: blue;
  border: 5px solid green;
  margin-top: 250px;
  margin-bottom: 50px;
  margin-right: 250px;
  margin-left: 50px;
}

.gridSample {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
}
.gridElement {
  background-color: white;
  text-align: center;
}
